*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: aliceblue;
}

.navbar{
    height: 8vh;
    background-color: #2E3E64;
}

.navbar-nav .nav-link{
    color: #ffffff !important;
    margin-right: 1vw;
    margin-left: 1vw;
}

.nav-link:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #CCDBEE !important;
}

.imageContainer {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 20vh;
}

.imageContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileBar {
    width: 100%;
    height: 32vh;
    padding: 0;
    margin: 0;
}

.card img {
    object-fit: cover;
}


.profile-section {
    margin-top: 3rem;
}

.project-github {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.project-github img{
    width: 100%;
    height: 8rem;
    object-fit: cover;
}



