*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial Narrow', sans-serif, 'Montserrat';
    min-height: 100vh;
    background-image: url('./images/620bd6d655f2044afa28bff4_glassmorphism.jpeg');
    background-size: cover;
}

@media (max-width: 760px) {
    .profile-section {
        width: 100%;
        height: 100%;
    }

    .section-card {
        height: 95rem !important;
    }

}

.inner-content {
    margin: auto;
    padding: 2px;
}

.content-title h1{
    color: #ffffff;
    font-size: 4rem;
    margin: auto;
    padding: 1rem;
    font-weight: 600;
    font-family: 'Montserrat';
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.nav-tabs .nav-link {
    color: #ffffff;
    font-weight: 500;
    backdrop-filter: blur(1px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-tabs .nav-link:active {
    color: #ffffff;
    font-weight: 500;

    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(1px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.imageContainer {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 18vh;
}

.imageContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card img {
    object-fit: cover;
}

.profile-section {
    margin-top: 5rem;
}

.project-section {
    margin: auto;
    width: auto;
    height: auto;
}

.section-card {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80rem; 
    height: 40rem;
}

.projectGroup {
    margin: auto;
    height: 32rem;
    align-items: center;
}

.projectGroup img{
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

.project {
    height: 28rem;
    color: #000000;
    border: none;

}

.project .stretched-link{
    background-color: #ffffff;
    border: #2E3E64;
    color: #000000;
    font-weight: 500;
}

.project .stretched-link:hover{
    background-color: #696969;
    border-color: #ffffff;
    color: #ffffff;
}

.project-card {
    border: 2px transparent #ffffff;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(1px);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    font-weight: 450;
}

.project-card .card-title {
    font-weight: 600;
}

.project-card:hover{
    background: rgba(255, 255, 255, 0.8);
    border-color: #ffffff;
}

.project .card-link:hover{
    color: #CCDBEE
}

.github-tab .nav-link {
    color: #ffffff !important;
}

